/*Полоса сверху TODO*/
#head {
    text-align: center;
    background: forestgreen;
    margin: auto;
    font-family: Verdana;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.taskBlock, .functionBlock {
    height: auto;
}

.taskBlock {
    background: white;
    width: 65%;
}

.functionBlock {
    background: white;
    width: 35%;
    border-left: forestgreen solid 1px;
}

.blockHead {
    display: block;
    margin: 10px auto 50px auto;
    color: forestgreen;
    text-align: center;
    font-size: 35px;
    font-family: Verdana;
}

#list {
    text-align: center;
    margin: 20px auto;
    font-family: Verdana;
    font-size: 25px;
}
.functionBlock input{
    list-style-type: none;
    display: block;
    box-sizing: border-box;
    /*border: green solid 1px;*/
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    background-color: yellowgreen;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    cursor: pointer;
}

.changeForm input {
    background: white !important;
    width: 50%;
}

.taskBlock li:hover, .functionBlock input:hover {
    background-color: greenyellow !important;
}

.taskBlock li input{
    float: right;
}

.noActive, .active {
    list-style-type: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    cursor: pointer;
}

.noActive {
    border: green solid 1px;
    background: yellowgreen;
}
.active {
    border: black solid 3px;
}

.taskBlock li {
    cursor: pointer;
}


